<h2 mat-dialog-title class="title">Change password</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <!-- <mat-form-field>
        <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
          [type]="hidePass ? 'password' : 'text'" placeholder="Password">
        <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field> -->
    <button class="button-reset-pass" mat-raised-button color="primary">Change password</button>
  </form>
</div>